.masonry-layout {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;

  &__panel {
    width: 380px;
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 0 20px;
    margin-bottom: 40px;

    &__header {
      overflow: hidden;
      & img {
        width: 100%;
        object-fit: cover;
        object-position: 0 0;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
      }
    }

    &__content {
      padding: 40px;
      white-space: pre-line;
      & h4 {
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-weight: 700;
        max-height: 70px;
        overflow: hidden;
      }
      & p {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.7;
        max-height: 250px;
        overflow: hidden;
      }
    }

  }
}

.shares-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 50px;
}



@media screen and ( min-width: 1350px ) {
  .shares-title {
    font-size: 52px;
  }
}
@media screen and (min-width: 1061px) and ( max-width: 1349px ){

    .masonry-layout__panel{
      width: 300px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1060px) {
  .masonry-layout__panel{
      width: 300px;
  }
}

@media screen and ( max-width: 1024px ) {
  .shares-title {
    margin-top: 55px;
  }
}