.blog-single-comment-container {
    margin: 10px;
    padding: 10px 0;
    border-top: 1.5px solid #eee;
    border-bottom: 1.5px solid #eee;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    &__avatar {
        width: 40px;
        height: 40px;
        & img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    &__content {
        width: calc(100% - 40px);
        padding-left: 15px;
        padding-top: 5px;

        &__header {
            display: flex;
            align-items: center;
            &__name {
                font-weight: 700;
                max-width: 70%;
                word-break: break-all;
                margin: 0;
            }
            &__date {
                margin: 0;
                margin-left: 10px;
                font-size: 13px;
                margin-top: 4px;
            }
        }

        &__content {
            margin-top: 10px;
            font-size: 16px;
            word-break: break-all;
            white-space: pre-line;
        }
    }
}

@media screen and (max-width: 450px) {
    .blog-single-comment-container {
        &__content {
            &__header {
                &__name {
                    font-size: 12px;
                }
                &__date {
                    font-size: 9px;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .blog-single-comment-container {
        &__content {
            &__content {
                font-size: calc( (100vw - 20rem)/(80 - 30) * (1.5 - 1) + 0.5rem);
            }
        }
    }
}