.blog-comments-container {
    width: 100%;
    max-height: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.blog-comments-container-opened {
    max-height: 100%;
}

.blog-comments-container-closed {
    max-height: 0px;
}