.mobile-menu {
    font-family: Century Gothic;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    & ul {
        margin: 0;
        padding: 0;
        width: 70%;
        margin-top: 35px;
        margin-left: 20px;
    }

    & span {
        display: inline-block;
    }

    & ul li {
        list-style-type: none;
        text-transform: uppercase;
        margin-bottom: 20px;
        cursor: pointer;
        & a {
            color: black;
        }
    }

    &__create-order {
        margin-top: 40px;
        border: none;
        color: white;
        background-color: #F89F46;
        & a {
            color: white ;
        }
    }

    & button {
        height: 57px;
        max-width: 300px;
        width: 70%;
        border-radius: 52px;
        font-family: Century Gothic;
        font-size: 18px;
        font-weight: 700;
        outline: none;
        line-height: 57px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & a {
        display: block;
        text-decoration: none;
    }

    &__log-in {
        margin-top: 25px;
        height: 57px;
        max-width: 300px;
        width: 70%;
        border-radius: 52px;
        border: 3px solid #43A948;
        background-color: white;
        & a {
            color:  #43A948;
            font-size: 16px;
        }
    }
}

.green-item {
    border: none;
    padding: 0;
    color: #43A948 !important;
    border-bottom: 2.5px solid #43A948;
}

@media screen and (max-width: 320px) {
    .mobile-menu__log-in {
        & a {
            font-size: 14px;
        }
    }
}

@media screen and (min-width: 380px) {
    .mobile-menu__log-in {
        & a {
            font-size: 18px;
        }
    }
}