.mobile-filters-block-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    &__container {
        height: 45px;
        padding: 3px 0;
        margin: 2px 0;
        display: flex;
        align-items: center;
        border-radius: 5px;
        border: 2px solid transparent;
        &__item {
            max-width: 60px;
            max-height: 40px;
            padding: 0px 8px;
        }
    }
}

@media screen and (min-width: 1060px) {
    .mobile-filters-block-content {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .mobile-filters-block-content {
        &__container {
            padding: 2px 0;
            border: 2px solid transparent;
            &__item {
                max-width: 60px;
                max-height: 40px;
                padding: 0px 5px;
            }
        }
    }
}