.blog-yours-comment {
    width: 100%;
    display: flex;
    flex-direction: column;
    & textarea {
        width: 95%;
        margin-left: 2.5%;
        height: 20px;
        font-size: 16px;
        border: none;
        border-bottom: 2px solid #aaa;
        background-color: transparent;
        margin-bottom: 10px;
        resize: none;
        outline: none;
    }

    &-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 15px;
    }

    &-submit_button {
        outline: none;
        background-color: rgb(39, 160, 39);
        border: none;
        border-radius: 3px;
        color: white;
        font-weight: 700;
        font-size: 16px;
        padding: 5px;
    }

    &-cancel-button {
        outline: none;
        background-color: transparent;
        border: 2px solid #eee;
        color: #aaa;
        font-weight: 700;
        border-radius: 3px;
        font-size: 16px;
        padding: 5px;
    }
}

@media screen and (max-width: 700px) {
    .blog-yours-comment {
        & textarea {
            font-size: calc( (100vw - 20rem)/(80 - 30) * (1.5 - 1) + 0.5rem);
            height: calc( (100vw - 20rem)/(80 - 30) * (1.5 - 1) + 0.7rem);
        }
        &-cancel-button, &-submit_button {
            font-size: calc( (100vw - 20rem)/(80 - 30) * (1.5 - 1) + 0.6rem);
        }
    }
}